body {
  font-family: Google Sans, arial, sans-serif;
  
}
.container{
  display: flex;
}

.card{
  margin: 30px auto;
}

h1 {
  color: #202124;
  font-size: 24px;
  line-height: 28px;
  font-weight: 100;
  margin-bottom: 0;
  display: block;
  text-align: left;
}
ul {
  margin: 0;
  padding: 0;
}
/* img {
  display: inline-block;
  height: 60px;
  margin-top: unset;
  vertical-align: top;
  width: 60px;
} */

li {
  list-style: none;
  margin: 0;

  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
  text-align: left;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  min-width: 601px;
  margin: 30px auto;
}
.weather-app {
  max-width: 600px;
  min-width: 601px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #e4e7ec;
  border-radius: 10px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  line-height: 56px;
  color: #202124;
  letter-spacing: normal;
  font-family: Google Sans, arial, sans-serif;
  font-weight: 400;
  display: inline;
}
.weather-temperature .units {
  position: fixed;
  font-family: arial, sans-serif;
  font-weight: normal;
  color: #202124;
  font-size: 16px;
  top: -auto;
  line-height: 24px;
  display: inline;
}
.weather-temperature .units a {
  text-decoration: none;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: black;
  opacity: 0.6;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
